@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800");
@import url("font-awesome.min.css");


		/* Nav */

			#nav {
				position: absolute;
				right: 0em;
				top: 0;
				line-height: 5em;
			}

				#nav > ul > li {
					float: left;
					padding: 0 0 0 0;
				}

					#nav > ul > li > a, #nav > ul > li > span {
						color: #fff;
						text-decoration: none;
						text-transform: uppercase;
						font-weight: 800;
						font-size: 0.95em;
						letter-spacing: 0.075em;
						padding: 0.5em 0.8em 0.5em 0.8em;
						border-radius: 6px;
						outline: 0;
					}

					#nav > ul > li.active > a, #nav > ul > li.current_page_item > a, #nav > ul > li.active > span, #nav > ul > li.current_page_item > span {
						background: rgba(0, 0, 0, 0.15);
						box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.025), 1px 1px 0px 0px rgba(255, 255, 255, 0.025);
					}

					#nav > ul > li:last-child {
						padding-right: 0;
					}

					#nav > ul > li > ul {
						display: none;
					}
                    #nav>ul>li>a:hover, .inner>h1>a:hover{
                         color: #ebb112;
	                }

			