table{ border: solid 4px #f00;
   
}
table tr{
    
}
table tr th{
    background:#fff;
    font-size: 20px;
    border: solid 2px #000;
    min-height: 30px;
}
table tr td{
    background:#eddddd;
    font-size: 14px;
    border: solid 2px #000;
}
.training_rows td{
    max-width: 50px;
}
.description_column{
    width: 100px;
    font-style: 20px; 
}